<div id="<%= dom_id service %>">
  <p>
    <strong>Nome:</strong>
    <%= service.nome %>
  </p>

  <p>
    <strong>Descricao:</strong>
    <%= service.descricao %>
  </p>

  <p>
    <strong>Duracao minutos:</strong>
    <%= service.duracao_minutos %>
  </p>

  <p>
    <strong>Preco:</strong>
    <%= service.preco %>
  </p>

  <p>
    <strong>User:</strong>
    <%= service.user_id %>
  </p>

</div>
